<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- IIS üzerinden gelen tüm istekleri localhost:8000'de çalışan uvicorn'a yönlendirir -->
    <rewrite>
      <rules>
        <rule name="ReverseProxyInboundRule1" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <!-- Eğer gerçek bir dosya veya klasör değilse -->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <!-- uvicorn uygulamasına yönlendir -->
          <action type="Rewrite" url="http://127.0.0.1:8000/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <!-- Reverse proxy'yi etkinleştir -->
    <proxy enabled="true" preserveHostHeader="false" />
  </system.webServer>
</configuration>